
// 省率号
@mixin ellipsis{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

// 垂直剧中一个img
@mixin container{ //img的容器
    display:table-cell;
    text-align:center;
    vertical-align:middle;
}